<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a webpage with the Aylien NLP API</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <img src="/img/logoreading.png" alt="Website Logo" style="width:100px;height:100px;">
            </div>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Please enter a german ISBN-13">
                    <input id="isbnsubmit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    Example ISBN: 978-3-442-48921-3 (Lucinda Riley)
                </form>

            <section>

            <section class="results">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Udacity Front End Developer Course - Aylien NLP API - By Thomas</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
